@media (min-width: 768px) {
    .sidebar .nav-item .nav-link span {
        font-size: 18px;
    }
}

.paginate_button {
    padding: 0 10px;
}

.paginate_button:hover {
    cursor: pointer;
}

.paginate_button.current,
.paginate_button.disabled {
    color: grey;
    font-weight: 700;
}

.paginate_button.current:hover,
.paginate_button.disabled {
    text-decoration: none;
}

.btAcao {
    font-size: 13px;
    padding: 3px 3px 3px 5px;
}
.topbar{
    font-size: 20px;
}